<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Astrology Home Page</title>
    <style >
      body{
        background:yellow;
      }
      h1{
        color: red;
      }
      h2{
        color: blue;
      }
    </style>
  </head>
  <body>
    <h1>Hello Friend, {{wish}}</h1>
    <h2>Now The Server Time Is: {{time}}</h2>
    <h1>Astrology info for SAIRAM : {{msg}}</h1>
    <h2>Very soon, you are going to get marriage with: {{name}}</h2>

  </body>
</html>
